[submodule "tools"]
	path = tools
	url = https://github.com/raspberrypi/tools
[submodule "xenomai"]
	path = xenomai
	url = git://git.xenomai.org/xenomai-2.6.git
[submodule "linux-raspberrypi"]
	path = linux-raspberrypi
	url = https://github.com/raspberrypi/linux
[submodule "linux-bootc"]
	path = linux-bootc
	url = https://github.com/bootc/linux.git
